.Container_ShowVideoGrid{
    display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}

.video_box_app{
    width:20rem;
    height:17rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
  }