.Auth_container{
    width:100vw;
    position:absolute;
    height: 100vh;
    z-index:500;
    top:0;
    right:0;
    box-sizing: border-box;
    display: flex;
}
.Auth_container2{
    display:flex;
    position:absolute;
    right:2.5rem;
    background-color:rgb(16, 16, 16);
    text-align: center;
    flex-direction: column;
    border: px solid rgba(102, 102, 102, 0.6);
    color: aliceblue;
    z-index: 500;
    padding: 0.5rem;
}
.User_Details{
    display:flex;
    margin: 0 auto;
    padding: 0.7rem;
    border-bottom: 2px solid grey;
    padding-inline-start: 1.2rem 0.9rem;
}
.email_Auth{
    font-size: larger;;
    padding: 0.3rem;
    font-weight: bolder;
    margin:auto;

}
.btn_Auth{
    color:aliceblue;
    font-weight: bolder;
    font-size: larger;
    padding: 0.5rem 0.5rem;
    border: 0;
    margin: 0.2rem 0;
    background-color: transparent;
}
.btn_Auth:hover{
    background-color: rgb(129, 129, 129);

}
.btns_Auth{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}